.mypage-wrapper.clearfix

  .mypage-content
    %section.mypage-user-icon
      .mypage-user-icon__minibox
        %a{href: ""}
        %img.icon-img{src:"/assets/member_photo_noimage.png"}
        %h2 userのnickname
        .mypage-number
          %p
            評価
            %span 0
          %p.right-p
            出品数
            %span 0
    %section.mypage-tab-container-notification-todo
      %input#tab-notification{checked: "checked", name: "tab_item", type: "radio"}/
      %label.tab_item{for: "tab-notification"} お知らせ
      %input#tab-todo{checked: "checked", name: "tab_item", type: "radio"}/
      %label.tab_item{for: "tab-todo"} やることリスト
      %ul#mypage-tab-notification.tab-content__list
        %li.mypage-item
          %a{href: "",class: "mypage-item-link"}
          %img{src: "assets/mypage/custom-banner-icon.png"}
          .mypage-item-body
            .mypage-item-body__text
              明日、500Pの有効期限が切れます
            %time
              %p ５日前
        %li
          %a{href: "",class: "mypage-go-list"}
            一覧を見る
      %ul#mypage-tab-todo.tab-content__list
        %li
          %a{href: "",class: "mypage-item-link"}
          %img{src: "assets/mypage/custom-banner-icon.png"}
          .mypage-item-body
            .mypage-item-body__text
              龍角散さんから「メルカリのアイコン」が発送されました。届いたら内容を確認して、受け取り評価をして下さい
            %time
              %p ５日前
        %li
          %a{href: "",class: "mypage-go-list"}
            一覧を見る

    %section.mypage-tab-container
    / サイドバーfontawesome使って右矢印作る

  .mypage-side
    %nav.mypage-nav
      %ul.mypage-nav__list
        %li
          = link_to "マイページ", '', class: "mypage-nav__list__item"
        %li
          = link_to "お知らせ", '', class: "mypage-nav__list__item"
        %li
          = link_to "やることリスト", '', class: "mypage-nav__list__item"
        %li
          = link_to "いいね！一覧", '', class: "mypage-nav__list__item"
        %li
          = link_to "出品する", '', class: "mypage-nav__list__item"
        %li
          = link_to "出品した商品-出品中", '', class: "mypage-nav__list__item"
        %li
          = link_to "出品した商品-取引中", '', class: "mypage-nav__list__item"
        %li
          = link_to "出品した商品-売却済", '', class: "mypage-nav__list__item"
        %li
          = link_to "購入した商品-取引中", '', class: "mypage-nav__list__item"
        %li
          = link_to "購入した商品-過去の取引", '', class: "mypage-nav__list__item"
        %li
          = link_to "ニュース一覧", '', class: "mypage-nav__list__item"
        %li
          = link_to "評価一覧", '', class: "mypage-nav__list__item"
        %li
          = link_to "ガイド", '', class: "mypage-nav__list__item"
        %li
          = link_to "お問い合わせ", '', class: "mypage-nav__list__item"
        %li
          = link_to "マイページ", '', class: "mypage-nav__list__item"
      %h3.mypage-nav__head 売上・ポイント
      %ul.mypage-nav__list
        %li
          = link_to "売上・振込申請", '', class: "mypage-nav__list__item"
        %li
          = link_to "ポイント", '', class: "mypage-nav__list__item"
      %h3.mypage-nav__head 設定
      %ul.mypage-nav__list
        %li
          = link_to "プロフィール", '', class: "mypage-nav__list__item"
        %li
          = link_to "住所変更", '', class: "mypage-nav__list__item"
        %li
          = link_to "支払方法", '', class: "mypage-nav__list__item"
        %li
          = link_to "メール/パスワード", '', class: "mypage-nav__list__item"
        %li
          = link_to "本人情報", '', class: "mypage-nav__list__item"
        %li
          = link_to "電話番号の確認", '', class: "mypage-nav__list__item"
        %li
          = link_to "ログアウト", '', class: "mypage-nav__list__item"
