.mypage-header
= render "products/product_header"

.mypage-wrapper.clearfix
  .mypage-main
    =render "users/mypage-user-icon"

    %section.mypage-tab-container-notification-todo
      %input#tab-notification{checked: "checked", name: "tab_item", type: "radio"}/
      %label.tab_item{for: "tab-notification"} お知らせ
      %input#tab-todo{checked: "checked", name: "tab_item", type: "radio"}/
      %label.tab_item{for: "tab-todo"} やることリスト
      %ul#mypage-tab-notification.tab-content__list
        %li.mypage-item
          %a{href: "",class: "mypage-item-link"}
          %img{src: "assets/mypage/custom-banner-icon.png"}
          .mypage-item-body
            .mypage-item-body__text
              明日、500Pの有効期限が切れます
            %time
              %p ５日前
        %li
          %a{href: "",class: "mypage-go-list"}
            一覧を見る
      %ul#mypage-tab-todo.tab-content__list
        %li
          %a{href: "",class: "mypage-item-link"}
          %img{src: "assets/mypage/custom-banner-icon.png"}
          .mypage-item-body
            .mypage-item-body__text
              龍角散さんから「メルカリのアイコン」が発送されました。届いたら内容を確認して、受け取り評価をして下さい
            %time
              %p ５日前
        %li
          %a{href: "",class: "mypage-go-list"}
            一覧を見る

    %section.mypage-tab-container-product
      %h2 購入した商品
      %input#tab-active{checked: "checked", name: "tab_product", type: "radio"}/
      %label.tab_product{for: "tab-active"} 取引中
      %input#tab-old{checked: "checked", name: "tab_product", type: "radio"}/
      %label.tab_product{for: "tab-old"} 過去の取引
      %ul#mypage-tab-active.tab-content__list
        %li.mypage-item
          %a{href: "",class: "mypage-item-link"}
          %img{src: "assets/mypage/custom-banner-icon.png"}
          .mypage-item-body
            .mypage-item-body__text
              「メルカリ」を購入しました。受取評価してください
            .status 受取評価待ち
        %li
          %a{href: "",class: "mypage-go-list"}
            一覧を見る
      %ul#mypage-tab-old.tab-content__list
        %li
          %a{href: "",class: "mypage-item-link"}
          %img{src: "assets/mypage/custom-banner-icon.png"}
          .mypage-item-body
            .mypage-item-body__text
              龍角散さんから「メルカリのアイコン」が発送されました。届いたら内容を確認して、受け取り評価をして下さい
            %time
              %p ５日前
        %li
          %a{href: "",class: "mypage-go-list"}
            一覧を見る

  .mypage-side
    %nav.mypage-nav
      %ul.mypage-nav__list
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            マイページ
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            お知らせ
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            やることリスト
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            いいね！一覧
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            出品する
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            出品した商品-出品中
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            出品した商品-取引中
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            出品した商品-売却済
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            購入した商品-取引中
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            購入した商品-過去の取引
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            ニュース一覧
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            評価一覧
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            ガイド
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            お問い合わせ
            %i.fas.fa-chevron-right
      %h3.mypage-nav__head 売上・ポイント
      %ul.mypage-nav__list
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            売上・振込申請
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            ポイント
            %i.fas.fa-chevron-right
      %h3.mypage-nav__head 設定
      %ul.mypage-nav__list
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            プロフィール
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            住所変更
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            支払方法
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            メール/パスワード
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            本人情報
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            電話番号の確認
            %i.fas.fa-chevron-right
        %li
          = link_to "#",class: "mypage-nav__list__item" do
            ログアウト
            %i.fas.fa-chevron-right
