.paycreate-header
  .product__sell__header
    .product__sell__header__logo
      = link_to root_path do
        = image_tag "products/logo.svg"

.paycreate-wrapper.clreafix
  .paycreate-main
    %h2.paycreate-main__header クレジットカード情報入力
    = form_tag(users_pay_path, method: :post, id: "charge-form", class: "paycreate-main__form") do
      %script{src: "https://js.pay.jp/", type: "text/javascript"}
      .paycreate-main__form__container
        .paycreate-main__form__container__group
          %label{for: "card_number"} カード番号
          %span.paycreate-main__form__container__group--required 必須
          %br
          = text_field :card, :number, placeholder: "半角数字のみ",maxlength: 19,required: "", class: "paycreate-main__form__container__group--control"
          %br
          = image_tag "creditcard-logo.png", size: "300x20", class: "paycreate-main__form__container__group--card-logo"
        %br
        .paycreate-main__form__container__group
          %label{for: "exp_month"} 有効期限
          %span.paycreate-main__form__container__group--required 必須
          %br
          = select_tag 'exp_month', options_for_select({"01" => 1, "02" => 2, "03" => 3, "04" => 4, "05" => 5, "06" => 6, "07" => 7, "08" => 8, "09" => 9, "10" => 10, "11" => 11,"12" => 12}), {class: "paycreate-main__form__container__group--select"}
          %span 月
          %br
          = select_tag 'exp_year', options_for_select({"19" => 2019, "20" => 2020, "21" => 2021, "22" => 2022, "23" => 2023, "24" => 2024, "25" => 2025, "26" => 2026, "27" => 2027, "28" => 2028, "29" => 2029}),{class: "paycreate-main__form__container__group--select"}
          %span 年
        %br
        .paycreate-main__form__container__group
          %label{ for: "cvv"} セキュリティコード
          %span.paycreate-main__form__container__group--required 必須
          %br
          = text_field :hoge, :hoge, placeholder: "カード背面4桁もしくは3桁の番号",maxlength: 4,required: "", validate: "number", class: "paycreate-main__form__container__group--control", id: "cvv"

          %br
          .paycreate-main__form__container__group__seqcode
            .paycreate-main__form__container__group__seqcode--text
              %span.paycreate-main__form__container__group__seqcode--text--question ?
              カード裏面の番号とは？
        = submit_tag(value = "追加する", options = {id: 'token', class: "submit_button paycreate-main__form__container--creditbtn"})

.paycreate.footer
  .product__sell__footer
    .product__sell__footer__nav
      %ul
        %li
          = link_to "プライバシーポリシー", "#"
        %li
          = link_to "メルカリ利用規約", "#"
        %li
          = link_to "特定商取引に関する表記", "#"
    .product__sell__footer__copyright
      = link_to root_path do
        = image_tag "products/logo-gray.svg", id: "gray_logo-footer"
      %p © 2019 Mercari
