.mypage-header
  = render "products/sell_button"
  = render "products/product_header"
.mypage-wrapper
  / ここから山中加筆
  .mypage-main__listings
    .mypage-main__listings__top
      出品した商品
    .mypage-main__listings__select
      %ul
        %li
          = link_to user_listings_path(current_user.id) do
            出品中
        %li.active__tab
          = link_to user_in_progresses_path(current_user.id) do
            取引中
        %li
          = link_to user_completeds_path(current_user.id) do
            売却済
    .mypage-main__listings__body
      %ul
        = render "listings/listing_products", products: @products
  .mypage-side
    = render "users/mypage-nav"
= render "products/product_footer"
