.mypage-header
  = render "products/sell_button"
  = render "products/product_header"
  - breadcrumb :completeds, current_user.id
  = render "layouts/bread_with_gretel"
.mypage-wrapper
  / ここから山中加筆
  .mypage-main__listings
    .mypage-main__listings__top
      出品した商品
    .mypage-main__listings__select
      %ul
        %li
          = link_to "出品中", user_listings_path(current_user.id)
        %li
          = link_to "取引中",user_in_progresses_path(current_user.id)
        %li.active__tab
          = link_to "売却済",  user_completeds_path(current_user.id)
    .mypage-main__listings__body
      %ul
        = render "listings/listing_products", products: @products
  .mypage-side
    = render "users/mypage-nav"
= render "products/product_footer"
