.product__container__category__list__content
  = link_to "#" do
    = image_tag "test.jpg", alt: "商品画像", class:"product__container__pickedcategory__list__content__body__img"
    .product__container__category__list__content__body
      .product__container__category__list__content__body__name
        %h3 サンプルだーよーーーー
      .product__container__category__list__content__body__num
        .product__container__category__list__content__body__num__price
          = "¥1,000#{}"
        .product__container__category__list__content__body__num__fav
          %i.far.fa-heart
          %span
            = "20#{}"
        %p.product_tax (税込)
