.header__wrapper
  .product__header
    .product__header__upper
      = link_to "#" do
        = image_tag "products/logo.svg", id: "logo"
      = form_tag("#", method: :get,id: "search") do
        = text_field_tag :keyword,"", {placeholder: "検索する"}
        %label.search-label{ for: "search-icon" }
          = button_tag type: "submit", id: "search-icon"  do
            %span.search
              %i.fa.fa-search
    .product__header__navbar
      .product__header__navbar__left
        %ul
          %li
            = link_to "カテゴリーから探す","#"
          %li
            = link_to "ブランドから探す","#"
      .product__header__navbar__right
        %ul
          %li
            = link_to "#" do
              = image_tag "test.jpg", class: "profile_icon",size: "36x36"
              マイページ
          %li
            = link_to "#" do
              %span.nav
                = icon('far', 'bell')
              お知らせ
          %li
            = link_to "#" do
              %span.nav
                %i.fas.fa-check
              やることリスト

