.product__footer
  .product__footer__app
  .product__footer__sitemap
    .product__footer__sitemap__cell
      %h2 メルカリについて
      %ul
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
    .product__footer__sitemap__cell
      %h2 メルカリを見る
      %ul
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
    .product__footer__sitemap__cell
      %h2 ヘルプ&ガイド
      %ul
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
        %li
          = link_to "United States","#"
    .product__footer__sitemap__cell
      %h2 国
      %ul
        %li
          = link_to "United States","#"
        %li
          = link_to "United Kingdom","#"
        %li
          = link_to "日本","#"
  .product__footer__copyright
    = link_to "#" do
      = image_tag "products/logo-white.svg", id: "logo-footer"
    %p© 2019 Mercari

