%table
  %tbody
    %tr
      %th 出品者
      %td
        = product.name
        .product__detail__container__main__imgtable__userreview
    %tr
      %th カテゴリー
      %td
        = link_to product.category.name, "#"
        .product__detail__container__main__imgtable__category_children
          = link_to "#" do
            %span.arrow
              %i.fas.fa-angle-left
            = product.category.name
        .product__detail__container__main__imgtable__category_grandson
          = link_to "#" do
            %span.arrow
              %i.fas.fa-angle-left
            = product.category.name
    %tr
      %th ブランド
      %td
        / = product.brand.name ブランド実装時に実装
        = link_to "#" do
          -if product.brand.present?
            = product.brand.name
    %tr
      %th 商品のサイズ
      / サイズはサーバ側が決定次第実装
      %td
        = Size.find( product.size).size
    %tr
      %th 商品の状態
      %td
        = product.condition
    %tr
      %th 配送料の負担
      %td
        = product.select_shipping_fee
    %tr
      %th 配送の方法
      %td
        = product.shipping_method
    %tr
      %th 配送元地域
      %td
        = link_to "#" do
          = t "enums.product.area.#{product.area}"
    %tr
      %th 配送日の目安
      %td
        = product.shipping_date










