= render "products/sell_button"
= render "products/product_header"
/ kikawa仮置き
= render "layouts/notifications"
.product__slider
  #slider
    %div.slider__image
      = image_tag "merukari_test.png", alt:"test"
    %div.slider__image
      = image_tag "merukari_test.png", alt:"test"
    %div.slider__image
      = image_tag "merukari_test.png", alt:"test"
.product__container
  .product__container__category
    %h1 ピックアップカテゴリー
    = render "products/category_four_products", categories: @categories
  .product__container__category.pickedup
    %h1 ピックアップブランド
    = render "products/brand_four_products", brands: @brands
= render "products/product_footer"
