= render "products/sell_button"
= render "products/product_header"
.product__slider
  #slider
    %div.slider__image
      = image_tag "merukari_test.png", alt:"test"
    %div.slider__image
      = image_tag "merukari_test.png", alt:"test"
    %div.slider__image
      = image_tag "merukari_test.png", alt:"test"
.product__container
  .product__container__category
    %h1 ピックアップカテゴリー
    = render "products/four_products"
    = render "products/four_products"
  .product__container__category.pickedup
    %h1 ピックアップブランドー
    = render "products/four_products"
= render "products/product_footer"
